.dugtool {
	position: fixed !important;
	top: 10px;
	width: 200px;
	border: 3px solid #53714D;
}

.dugtool a {
	text-decoration: none !important;
}

.dugtool.left {
	left: 10px;
}
.dugtool.right {
	right: 10px;
}

.dugtool ul {
	list-style: none;
}

.anchor:hover {
	background-color: #53714D;
	font-weight: bold;
	color: #ffffff;
}

#scrollToTop {
	position: fixed;
	right : 10px;
	bottom: 0;
	margin-bottom : 10px;
	padding: 5px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
    border-radius: 50px;
}
